$font-std: 'Muli', sans-serif;

$fz-1: 60px;
$fz-2: 40px;
$fz-3: 32px;
$fz-4: 26px;
$fz-5: 21px;

$fz-c: 18px;
$fz-c-s: 15px;

$c-white: #fff;
$c-black: #000;
$c-accent: #FFCD19;
$c-accent-second: #00B6DC;
$c-accent-second-dark: darken(#00B6DC, 10%);
$c-accent-third: #001927;
$c-content: #333;
$c-gray-light: #F5F8FA; 
 